.content.just-text
  %h1 Projects

  %p Site 3 is a unique collection of artists, makers, hackers and hobbyists. All of our members can easily be found leading or collaborating on projects, events, workshops and community initiatives. Come see what we are working at Thursday open house starting at 7pm.

  .project
    %h2 Laser Equipped Annihilation Protocol
    = image_tag 'projects/project-laser.png', class: 'project-image'
    %p The room is pitch black and filled with the hollow sound of a machine breathing. An intimidating series of red laser fences sizzle as they fire alternating patterns that slice through the fog-filled air. At the other end of the laser fences, an ominous red light illuminates a single keypad, your only hope against complete annihilation. Laser Equipped Annihilation Protocol (The L.E.A.P. Engine) is a live-action gaming environment in which the player pass through a complicated series of changing and alternating laser patterns before the time runs out in order to deactivate the system and win the game.

  .project
    %h2 Riskee Ball
    = image_tag 'projects/project-riskee-ball.jpg', class: 'project-image'
    %p What could possibly be better than Skee Ball? How about fire-erupting Skee Ball? Lovingly dubbed Riskee Ball, this reimagined arcade staple will blast fire from the central row of target holes and straight out the top when some serious celebrating is in order. Topped with rotating warning lights and air horns to signal special game modes, like sudden death eruption mode where points scored on one machine triggers flames on them all, this bank of ten modular machines are the perfect addition to any pyromaniac’s arcade. Play it at the Charcade, a 2013 Burning Man Honourarium project.

  .project
    %h2 Super Street Fire
    = image_tag 'projects/project-ssf.jpg', class: 'project-image'
    %p Super Street Fire is a live-action adaptation of Street Fighter 2 only with the fire of a thousands suns. Set on a real-life version of Ryu’s classic stage, Super Street Fire sees two brave fighters duke it out while wearing motion-sensing gloves that capture every throw from perfectly timed blocks to deadly hadoukens. With each attack, fire hurtles towards the opponent as they scramble to retaliate or succumb to fiery damage. Still remember combos? Good. The stronger the attack, the greater the spectacle. As the countdown clock winds down, punches are thrown, life is lost, and a victor is named.

  .project
    %h2 Shannon's Fireflies
    = image_tag 'projects/project-fireflies.jpg', class: 'project-image'
    %p Alice, having walked up to the cube to inspect the fireflies closer, wonders how those on the edge of the cube would respond to her own lights. She takes out a small light on her keychain, and flashes it at one of the closest fireflies. The firefly lights up, which then wakes up its neighbors, and the stream of light passes through the cube to the other end.

  .project
    %h2 Pyrokinesis
    = image_tag 'projects/project-coatrack.jpg', class: 'project-image'
    %p Using a wireless EEG headset and a control unit connected to the eight headed flame effect dubbed the "Coat Rack", participants can create blasts of fire over 20 feet with their thoughts.
