%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

  .form-group
    = f.label :email, class: 'control-label'
    = f.email_field :email, autofocus: true, class: 'form-control'

  .form-group
    = f.label :password, class: 'control-label'
    = f.password_field :password, autocomplete: "off", class: 'form-control'

  - if devise_mapping.rememberable?
    = f.check_box :remember_me
    = f.label :remember_me

  .form-actions
    = f.submit "Log in", class: 'btn btn-primary btn-block'

= render "members/shared/links"
