%h2 Log in

- if devise_mapping.omniauthable?
  .oauth-buttons
    - resource_class.omniauth_providers.each do |provider|
      %a.btn.btn-primary.btn-block{href: member_omniauth_authorize_path(provider)}
        Log in with #{provider.to_s.titleize}

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

  .form-group
    = f.label :email, class: 'control-label'
    = f.email_field :email, autofocus: true, class: 'form-control'

  .form-group
    = f.label :password, class: 'control-label'
    = f.password_field :password, autocomplete: "off", class: 'form-control'

  .row
    .col-sm-6
      - if devise_mapping.rememberable?
        = f.check_box :remember_me
        = f.label :remember_me
    .col-sm-6
      - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
        = link_to "Forgot your password?", new_password_path(resource_name)

  .form-actions
    = f.submit "Log in", class: 'btn btn-primary btn-block'

= render "members/shared/links"
