%h2 Settings

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  .form-group
    .checkbox
      %label
        = f.check_box :enable_vending_machine
        Allow your fob to make purchases from the vending machines
    %p.help-block See all your #{ link_to 'purchases', purchases_path }.

  .form-group
    = f.label :email, class: 'control-label'
    = f.email_field :email, class: 'form-control'

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    .form-group
      %p.help-block Currently waiting confirmation for: #{resource.unconfirmed_email}

  .row
    .col-sm-6
      .form-group
        = f.label :password, class: 'control-label'
        = f.password_field :password, autocomplete: "off", class: 'form-control'
        %p.help-block Optional, leave blank keep current password
    .col-sm-6
      .form-group
        = f.label :password_confirmation, class: 'control-label'
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

  .form-group
    = f.label :current_password, class: 'control-label'
    = f.password_field :current_password, autocomplete: "off", class: 'form-control'
    %p.help-block Required to confirm your changes.

  .form-actions
    = f.submit "Update Settings", class: 'btn btn-primary'
