<!DOCTYPE html>
<html>
<head>
  <title>Site3Members</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="pre-footer">
    <div id="background-mask"></div>
    <%= render partial: 'layouts/top_nav' %>
    <div class="container">
      <%= render partial: 'layouts/flashes' %>
      <%= yield %>
    </div>
  </div
  <%= render partial: 'layouts/footer' %>
</body>
</html>
