<!DOCTYPE html>
<html>
<head>
  <title><%= title = yield(:title); title.present? ? title : t('site_name') %></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB2QaD7xDqoFaBGCtwdjjRuSKIewbBji6c&callback=googleMapsLoad" async></script>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_classes %>">
  <div id="pre-footer">
    <div id="background-mask"></div>
    <%= render partial: 'layouts/top_nav' %>
    <%= render partial: 'layouts/flashes' %>
    <div id="main" class="container">
      <%= yield %>
    </div>
  </div>
  <%= render partial: 'layouts/footer' %>
  <script>
      Cufon.replace('h1,h2,h3,h4,h5,h6,#header .nav a, #header .title,.hero-content p', {hover: true})
  </script>
</body>
</html>
